.SlotPicker {
    display: flex;
}

@media (max-width: 800px) {
    .SlotPicker {
        flex-direction: column;
    }
}

.Box {
    padding: 0.4rem;
    border-radius: 2px;
    margin: 1rem;
}

.Heading {
    composes: Box;
    background-color: #efefef;
    border: 1px #c4c4c4 solid;
}

.Slot {
    composes: Box;
    background-color: #f7f7f7;
}


.DayColumn {
    flex-grow: 1;
}
