.step {
    border-radius: 10px;
    height: 4em;
    min-height: min-content;
}

.completed {
    border-color: teal;
    color: teal;
}

.completed.line {
    background-color: teal;
}

.error {
    border-color: #f44336;
    color: #f44336;
}
.error.line {
    background-color: #f44336;
}

.error.selected.step {
    background-color: #e5a0a0;
}

/*.error.selected.icon {*/
/*    background-color: #eee;*/
/*}*/

.line {}

.stepTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.stepBooking {
    font-size: 0.9em;
}

.selected.step {
    background-color: #ddd;
}
