.App {
  font-family: sans-serif;
  text-align: center;
}

.WeekSelector {
  box-shadow: 3px 3px 4px 1px #ccc;

  position: sticky;
  top: -1px;
  background-color: #eee;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: initial;

  /* position: "sticky",
  top: "-1px",
  width: "100%",
  height: "100px",
  backgroundColor: "red" */
}

.D1 {
  display: flex;
}

.Box {
  padding: 0.4rem;
  border-radius: 2px;
  margin: 1rem;
}

.DayColumn {
  flex-grow: 1;
}

.Heading {
  background-color: #efefef;
}

/* We need to make the steps small from here onwardss */
@media (max-width: 900px) {
  .WeekSelectorInner {
    min-width: fit-content;
  }

  .WeekSelector {
    overflow: scroll;
  }

  .rs-steps-item {
    min-width: fit-content;
  }

  /* Only show current text */
  /* .rs-steps-item:not(.rs-steps-item-status-process) .rs-steps-item-title {
    display: none;
  } */
}

@media (max-width: 800px) {
  .D1 {
    /* Center the column */
    margin: 0 auto;
    flex-direction: column;
    max-width: 550px;
  }

  /* .HeadingContainer {
    position: sticky;
    top: -1px;
    background-color: white;
  }

  .HeadingSpacer {
    height: 4px;
  } */
}

.Slot {
  background-color: #f7f7f7;
}

.Controls {
  display: flex;
  flex-direction: row;
}
